create table Doctor_Primary_Table(
Doctor_Id int(10) primary key,
Address_ID int (10) NOT NULL,
Medical_Reg_Number int (10) NOT NULL Unique,
Doctor_Schedule_ID int(10) NOT NULL,
E_ID  int(10) NOT NULL,
Security_questions_answer  varchar(50) NOT NULL,
Security_questions_ID int(10) NOT NULL,
FNAME varchar(50) NOT NULL,
LNAME varchar(50) NOT NULL,
Email varchar(100) NOT NULL Unique,
Password  varchar(100) NOT NULL,
Phone_Number char (13) NOT NULL Unique,
Gender char(1) NOT NULL,
PAN_Card char(10) NOT NULL Unique,
Aadhar_Card char(12) NOT NULL Unique,
Specailization varchar(50) NOT NULL,
Year_Of_Experience int(2) NOT NULL,
Profile_Status  char(1) default 'U' NOT NULL,
Profile_Photo varchar(100) NULL,
Extra_Col1 varchar(200) NULL,
Extra_Col2 varchar(200) NULL,
Extra_Col3 varchar(200) NULL,
constraint fk_Doc_Prim_Sec_Ans foreign key (Security_questions_ID) references Security_Questions_Table(Security_questions_ID),
constraint fk_Doc_Prim_Addr_Id foreign key (Address_ID) references Address_table(Address_ID),
constraint fk_Doc_Prim_Med_Reg_Id foreign key (Medical_Reg_Number) references Doctor_Med_Registration(Medical_Reg_Number),
constraint fk_Doc_Prim_Sched_Id foreign key (Doctor_Schedule_ID) references Doctor_Avail_Master_Table(Doctor_Schedule_ID),
constraint fk_Doc_Prim_E_ID foreign key (E_ID) references Doctor_Establishment_Table (E_ID)
);
