create table Doctor_Primary_Test_Table(
Doctor_Id int(10) primary key,
Address_ID int (10) ,
Medical_Reg_Number int (10)  ,
Doctor_Schedule_ID int(10) ,
E_ID  int(10) ,
Security_questions_answer  varchar(50) ,
Security_questions_ID int(10) ,
FNAME varchar(50) ,
LNAME varchar(50) ,
Email varchar(100)  ,
Password  varchar(100) ,
Phone_Number char (13)  ,
Gender char(1) ,
PAN_Card char(10)  ,
Aadhar_Card char(12)  ,
Specailization varchar(50) ,
Year_Of_Experience int(2) ,
Profile_Status  char(1) default 'U' ,
Profile_Photo varchar(100) ,
Extra_Col1 varchar(200) ,
Extra_Col2 varchar(200) ,
Extra_Col3 varchar(200) ,
);
